Datasift C# client - Getting started.docx
Datasift C# client - Getting started.pdf
Datasift/UML/
Datasift/vpproject/Datasift.vpppath
Datasift/Brandy
DataSiftDemo/bin/*
DataSift/bin/*
DataSiftTest/bin/*
DataSiftDemo/obj/*
DataSift/obj/*
DataSiftTest/obj/*
